body{
            text-align:right;
            }
        h1{
            color:white;
        }
        h2{
            color:red;
        }
        body{
            background:blue;
        }
        p{
            color:white;
        }
        h3{
            color:red;}
       h4{
            color:red;
        }
        li{
            color:white;
        }
      .Francia { background:white;
        }
        p{
            background:red;
        }
